{% extends "base.html" %}

{% block content %}


{% if finished %}

<h4>
Спасибо за участие в эксперименте!
</h4>

{% else %}


<img class="img-polaroid" src="{{ STATIC_URL }}img/{{ item.image }}.png"/>

<h4>{{ item.description }}.</h4>


<form method="POST" action="">
  {% csrf_token %}

  <label class="radio spaced">
    <input type="radio" name="answer" id="answer1" value="yes">
    Да
  </label>
  <label class="radio spaced">
    <input type="radio" name="answer" id="answer2" value="no">
    Нет
  </label>

  <button type="submit" class="btn btn-primary">Дальше</button>

  <input type="hidden" name="state_json" value="{{ state_json }}"/>

</form>

{% if error %}
<div class="alert alert-error">{{ error }}</div>
{% endif %}


{% endif %}


{% endblock content %}
