{% extends "base.html" %}

{% block content %}

<h4>
Этот эксперимент закончен, и мы можем рассказать о нем подробнее
</h4>

<p>
Эксперимент был поставлен в ходе семинара Experimental Methods for Studying Pragmatics on the Web на ESSLLI.
Мы изучали, как разные варианты перевода английского слова some ведут себя в русском языке, какие вложенные смыслы они добавляют к нашему пониманию предложения в определенном контексте (в нашем случае - картинки).
</p>
<p>
Исходный контекст был таким: Exactly one letter is connected with some of its circles. Мы перевели это предложение 4 разными способами так, чтобы изменялся только перевод some: Ровно одна буква соединена с частью/с какими-то/некоторыми/несколькими кружочками вокруг нее. Все эти предложения вы видели. Все остальные предложения в опросе должны были отвлекать ваше внимание :).
</p>
<p>
В опросе за полтора дня приняли участие около 340 человек - фантастический результат! Большое спасибо всем, кто отвечал на наши вопросы и делал перепосты!
На сегодняшний день нам удалось выяснить следующее:
</p>

<ul>
  <li>все 4 варианта перевода some по-разному влияют на наше понимание предложений,</li>
  <li>больше всего друг на друга похожи по влиянию варианты со словами "некоторыми" и "несколькими",</li>
  <li>вариант "с частью" влияет на наше восприятие не так, как все остальные; его поведение похоже на поведение аналогичного французского слова certain,</li>
  <li>влияние варианта "с какими-то" не похоже ни на что.</li>
  <li>ни один из наших вариантов перевода не влияет на наше восприятие ровно так же, как английское some.</li>
</ul>

<p>
Наш эксперимент был модифицированным повторением эксперимента Chemla &amp; Spector, 2011 (заинтересовавшиеся могут погуглить эту статью или написать нам) и позволил выявить неучтенные предыдущими исследователями факторы.
Мы хотим продолжить наше исследование и надеемся, что вы согласитесь участвовать с следующих наших экспериментах (тем более что теперь Костя обещает в конце каждому сообщать "какой он фрукт").
</p>

<p>
Юля, Настя, Костя
</p>

{% endblock content %}
